@import "mixin";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$cAccent: #3978ef;
$cBlack: #121212;
$cGray: #333;
$cLightGray: rgba(#000, 0.1);
$primarycolor: #23015b;
$primary2: #1d48df;
$primary3: #ffb701;
$textcolor: white;

.analytics-container {
  padding: 30px 20px 10px 30px;

  height: 400px;
  background-color: white;
  width: 480px;
  margin-top: 30px;
  // max-width: 30rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  h2 {
    padding: 10px 0px 10px 0px;
    font-weight: 800;
    font-size: 26px;
  }
  @include responsive($breakpoint: "mlg") {
    width: 620px;
    height: 500px;
    margin-top: 30px;
  }
  @include responsive($breakpoint: "llg") {
    width: 700px;
    height: 600px;
    margin-top: 60px;
  }
  @include responsive($breakpoint: "xl") {
    width: 900px;
    height: 600px;
    margin-right: 45px;
    margin-top: 80px;
  }
}
.analytics-container-analytics {
  padding: 30px 20px 10px 30px;

  height: 400px;
  width: 480px;
  background-color: white;
  margin-top: 0px;
  // max-width: 30rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  h2 {
    padding: 10px 0px 10px 0px;
    font-weight: 800;
    font-size: 26px;
  }
  @include responsive($breakpoint: "mlg") {
    width: 620px;
    height: 500px;
    margin-bottom: 0px;
  }
  @include responsive($breakpoint: "llg") {
    width: 700px;
    height: 520px;
  }
  @include responsive($breakpoint: "xl") {
    width: 900px;
    height: 600px;
    margin-right: 45px;
  }
}
.analytics-container-reports {
  padding: 30px 20px 10px 30px;

  height: 400px;
  width: 480px;
  background-color: white;
  margin-top: 30px;
  // max-width: 30rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  h2 {
    padding: 10px 0px 10px 0px;
    font-weight: 800;
    font-size: 26px;
  }
  @include responsive($breakpoint: "mlg") {
    width: 620px;
    height: 500px;
  }
  @include responsive($breakpoint: "llg") {
    width: 700px;
    height: 600px;
  }
  @include responsive($breakpoint: "xl") {
    width: 900px;
    height: 600px;
    margin-right: 45px;
  }
}
