.canvasjs-chart-credit {
  display: none !important;
}

$primarycolor: #23015b;
$primary2: #1d48df;
$primary3: #ffb701;
$textcolor: white;

.header {
  color: $primary3;
  font-weight: bold;
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: $primarycolor;
  position: fixed;
  height: 100vh;
  width: 220px;
  border: 1px solid #d9d9d9;
  background-size: cover;
  box-shadow: 0 0 16px -6px #000000;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;
  button {
    border-radius: 10px;
  }
}
.header-link {
  font-size: 20px;
  color: white;
  padding: 20px 0px;
  margin: 2px 0px;
}
.header-link :hover {
  color: $primary3;
  padding: 20px 0px;
  margin: 0px 0px;
}
link:hover {
  color: $primary3;
}
.links {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 10px;
}
