$red: #e64b59;
$yellow: #f0c987;
$green: #89bd9e;
$font: white;
.pie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}
.chart {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
}
.chart-position {
  position: relative;
  margin-left: 3.5%;
  margin-top: 3.5%;
}
.chart-skills {
  position: relative;

  padding-bottom: 10px;
  width: 440px;
  height: 220px;
}
.chart-skills2 {
  position: relative;

  margin-top: -15px;
  width: 440px;
  height: 220px;
  transform: rotate(180deg);
}
.chart-skills::before,
.chart-skills::after {
  position: absolute;
}
.chart-skills2::before,
.chart-skills2::after {
  position: absolute;
}

.chart-skills::before {
  content: "";
  width: inherit;
  height: inherit;

  border-bottom: none;
  border-top-left-radius: 440px;
  border-top-right-radius: 440px;
}
.chart-skills2::before {
  content: "";
  width: inherit;
  height: inherit;

  border-bottom: none;
  border-top-left-radius: 440px;
  border-top-right-radius: 440px;
}

.chart-skills::after {
  // content: "Top Skills";
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}
.chart-skills2::after {
  // content: "Top Skills";
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}
.chart-skills li {
  position: absolute;
  top: 101%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 130px solid;
  border-top: none;
  border-bottom-left-radius: 220px;
  border-bottom-right-radius: 220px;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  list-style-type: none;
}
.chart-skills2 li {
  position: absolute;
  top: 101%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 130px solid;
  border-top: none;
  border-bottom-left-radius: 220px;
  border-bottom-right-radius: 220px;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  list-style-type: none;
}
.chart-skills span {
  position: absolute;
  font-size: 0.95rem;
}
.chart-skills2 span {
  position: absolute;
  font-size: 0.95rem;
}

.chart-skills .cost-content1 span,
.chart-skills .cost-content2 span,
.chart-skills .cost-content3 span,
.chart-skills .cost-content4 span,
.chart-skills .cost-content5 span {
  top: 90px;
  left: -80px;
  bottom: 20px;
  font-size: 22px;
  color: $font;
  transform: rotate(-120.6deg);
}

.chart-skills2 .delivery-content1 span,
.chart-skills2 .delivery-content2 span,
.chart-skills2 .delivery-content3 span,
.chart-skills2 .delivery-content4 span,
.chart-skills2 .delivery-content5 span {
  top: 75px;
  left: -65px;
  // right: -30px;
  bottom: 20px;
  font-size: 22px;
  color: $font;
  transform: rotate(60.6deg);
}

.chart-skills li:nth-child(2) span {
  z-index: 20;
  top: 75px;
  left: -90px;
  color: $font;
  font-size: 22px;
  transform: rotate(-120.2deg);
}
.chart-skills2 li:nth-child(2) span {
  top: 80px;
  left: -70px;
  // right: -30px;
  bottom: 20px;
  font-size: 22px;
  color: $font;
  transform: rotate(60.2deg);
}

.chart-skills li:nth-child(3) span {
  top: 100px;
  left: -80px;
  bottom: 20px;
  font-size: 22px;
  color: $font;
  transform: rotate(240.4deg);
}
.chart-skills2 li:nth-child(3) span {
  top: 80px;
  left: -80px;
  bottom: 20px;
  font-size: 22px;
  color: $font;
  transform: rotate(57.4deg);
}
.blank {
  width: 400px;
  padding: 20px;
}
.chart-info-cost {
  margin: 220px 0px 0px 180px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-experience {
  margin: 195px 0px 0px 100px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-growth {
  margin: 245px 0px 0px 10px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-delivery {
  margin: 205px 0px 50px 10px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-pitching {
  margin: 185px 0px 0px 100px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-retention {
  margin: 185px 0px 0px 200px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.chart-info-blank {
  margin: 185px 0px 0px 200px;
  // margin-right: 200px;
  position: absolute;

  width: 400px;
  background: #e9e9e9;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.chart-skills .cost-content1 {
  z-index: 4;
  border-color: $red;
  animation-name: rotate-one;
  animation-delay: 0.2s;
}
.chart-skills .cost-content2 {
  z-index: 4;
  border-color: $yellow;
  animation-name: rotate-one;
  animation-delay: 0.2s;
}
.chart-skills .cost-content3 {
  z-index: 4;
  border-color: $green;
  animation-name: rotate-one;
  animation-delay: 0.2s;
}

// .chart-skills li:nth-child(1) {
//   z-index: 4;
//   border-color: green;
//   animation-name: rotate-one;
//   animation-delay: 0.4s;
// }

.chart-skills .experiance-content1 {
  z-index: 3;
  border-color: $red;
  animation-name: rotate-two;
  animation-delay: 0.4s;
}
.chart-skills .experiance-content2 {
  z-index: 3;
  border-color: $yellow;
  animation-name: rotate-two;
  animation-delay: 0.4s;
}
.chart-skills .experiance-content3 {
  z-index: 3;
  border-color: $green;
  animation-name: rotate-two;
  animation-delay: 0.4s;
}

.chart-skills .Growth-content1 {
  z-index: 2;
  border-color: $red;
  animation-name: rotate-three;
  animation-delay: 0.6s;
}
.chart-skills .Growth-content2 {
  z-index: 2;
  border-color: $yellow;
  animation-name: rotate-three;
  animation-delay: 0.6s;
}
.chart-skills .Growth-content3 {
  z-index: 2;
  border-color: $green;
  animation-name: rotate-three;
  animation-delay: 0.6s;
}

.chart-skills2 .delivery-content1 {
  z-index: 4;
  border-color: $red;
  animation-name: rotate-one;
  animation-delay: 0.8s;
}
.chart-skills2 .delivery-content2 {
  z-index: 4;
  border-color: $yellow;
  animation-name: rotate-one;
  animation-delay: 0.8s;
}
.chart-skills2 .delivery-content3 {
  z-index: 4;
  border-color: $green;
  animation-name: rotate-one;
  animation-delay: 0.8s;
}

.chart-skills2 .pitching-content1 {
  z-index: 3;
  border-color: $red;
  animation-name: rotate-two;
  animation-delay: 1s;
}
.chart-skills2 .pitching-content2 {
  z-index: 3;
  border-color: $yellow;
  animation-name: rotate-two;
  animation-delay: 1s;
}
.chart-skills2 .pitching-content3 {
  z-index: 3;
  border-color: $green;
  animation-name: rotate-two;
  animation-delay: 1s;
}

.chart-skills2 .Retention-content1 {
  z-index: 1;
  border-color: #e64b59;
  animation-name: rotate-three;
  animation-delay: 1.2s;
}
.chart-skills2 .Retention-content2 {
  z-index: 1;
  border-color: #f0c987;
  animation-name: rotate-three;
  animation-delay: 1.2s;
}
.chart-skills2 .Retention-content3 {
  z-index: 1;
  border-color: #89bd9e;
  animation-name: rotate-three;
  animation-delay: 1.2s;
}

@keyframes rotate-one {
  0% {
    transform: rotate(0.6deg);
  }
  100% {
    transform: rotate(60.2deg);
    /**
     * 32% => 57.6deg 
     * 57.6 + 21.6 => 79.2deg
     */
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(60.6deg);
  }
  100% {
    transform: rotate(120.2deg);
    /**
     * 32% => 57.6deg 
     * 57.6 + 21.6 => 79.2deg
     */
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(120.2deg);
  }
  100% {
    transform: rotate(180.4deg);
    /**
     * 34% => 61.2deg 
     * 61.2 + 79.2 => 140.4deg
     */
  }
}

.chart-skills {
  /* existing rules....*/

  overflow: hidden;
}

.chart-skills li {
  /* existing rules....*/

  transform-style: preserve-3d;
  backface-visibility: visible;
}
.chart-skills2 {
  /* existing rules....*/

  overflow: hidden;
}

.chart-skills2 li {
  /* existing rules....*/

  transform-style: preserve-3d;
  backface-visibility: visible;
}
