$cAccent: #3978ef;
$cBlack: #121212;
$cGray: #333;
$cLightGray: rgba(#000, 0.1);
$primarycolor: #23015b;
$primary2: #1d48df;
$primary3: #ffb701;
$textcolor: white;
.profile {
  padding: 80px 60px 60px 260px;
}
.profile-data {
  display: flex;
  justify-content: space-between;
}

.welcome {
  display: flex;
  padding: 20px 0;
  img {
    height: 40px;
    padding-right: 20px;
    margin: auto 0;
  }
  h1 {
    margin: auto 0;
  }
}

.pie-chart {
  display: flex;

  justify-content: center;
  // margin-left: -150px;
  margin-top: -150px;
  margin-right: 50px;
  // height: 400px;
  // width: 400px;
}
.chart {
  width: 800px;
  margin-top: -100px;
}
.accordian-timeStamp {
  display: flex;
  flex-direction: column;
}
.timestamp {
  margin: 50px 0;

  width: 40%;
  border-radius: 5px;
  min-width: 400px;
  max-width: 30rem;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(darken($cAccent, 20%), 0.06),
    0 20px 30px -10px rgba(darken($cAccent, 20%), 0.2);
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: large;
  }
}
.img {
  height: 50px;
}
